<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="RAP mobile Train Dashboard Target" sequenceNumber="22">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.1.0.v201203072145"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120308061416/repository/"/>
</location>
<location path="${project_loc:com.eclipsesource.rap.mobile.target}/bundles" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.rap.mobile.feature.feature.group" version="1.0.0.v20120318-0413"/>
<repository location="http://download.eclipsesource.com/build/rap-mobile/1.0.0/"/>
</location>
</locations>
</target>
